body{
	font-family: Verdana;
	font-size: 16px;
	color: black;

}

.center-div{
    padding-top: 1cm;
    text-align: center;
    font-family: Verdana;
}

.column_left {
  text-align: right;
  float: left;
  width: 47%;
}

.column_right {
  text-align: left;
  float: right;
  width: 47%;
}
/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

.tulemus {
  font-weight:bold;
}

.button {
  background-color: #707070;    /* vahetasin värvi, enne oli #A9A9A9;*/
  color: black;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.kast
{
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

label{
    display: inline-block;
    float: center;
    clear: left;
    width: 125px;
    text-align: right;
}

/*algab toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #707070; /*muutsin värvi halliks */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1e5dbc;  /* muutsin värvi siniseks, enne oli roheline #2ab934;*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(85px); /* muutsin seda, enne 55*/
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

/*drop down menüü ilusaks*/
.form-text
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}